@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
@font-face {
	font-family:Poppins;
	font-style:normal;
	font-weight:bold;
	src : url("../../font/Poppins-Bold.ttf");
}
@font-face {
	font-family:"Poppins Light";
	font-style:normal;
	font-weight:300;
	src : url("../../font/Poppins-Light.ttf");
}
@font-face {
	font-family:Poppins;
	font-style:normal;
	font-weight:normal;
	src : url("../../font/Poppins-Regular.ttf");
}
@font-face {
	font-family:"Poppins Thin";
	font-style:normal;
	font-weight:200;
	src : url("../../font/Poppins-Thin.ttf");
}
@font-face {
	font-family:"ZT Nature";
	font-style:normal;
	font-weight:bold;
	src : url("../../font/ZTNature-Bold.otf");
}
@font-face {
	font-family:"ZT Nature Thin";
	font-style:normal;
	font-weight:100;
	src : url("../../font/ZTNature-Thin.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	-webkit-text-stroke-color:#ffffff;
	-webkit-text-stroke-width:5.6px;
	color:#ffffff;
	font-family:"ZT Nature Thin", sans-serif;
	font-size:1116.3px;
	font-style:normal;
	font-weight:100;
	text-stroke-color:#ffffff;
	text-stroke-width:5.6px;
	text-transform:lowercase;
}
span.CharOverride-2 {
	-webkit-text-stroke-color:#ffffff;
	-webkit-text-stroke-width:11.2px;
	color:#ffffff;
	font-family:"ZT Nature Thin", sans-serif;
	font-size:1116.3px;
	font-style:normal;
	font-weight:100;
	text-stroke-color:#ffffff;
	text-stroke-width:11.2px;
	text-transform:lowercase;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:"ZT Nature", sans-serif;
	font-size:1116.3px;
	font-style:normal;
	font-weight:bold;
	text-transform:lowercase;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"ZT Nature", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:bold;
	text-transform:lowercase;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"ZT Nature", sans-serif;
	font-size:349.8px;
	font-style:normal;
	font-weight:bold;
	text-transform:lowercase;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"ZT Nature", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:Poppins, sans-serif;
	font-size:558.2px;
	font-style:normal;
	font-weight:normal;
	text-transform:lowercase;
}
span.CharOverride-8 {
	color:#ffffff;
	font-family:Poppins, sans-serif;
	font-size:558.2px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-9 {
	color:#ffffff;
	font-family:Poppins, sans-serif;
	font-size:558.2px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-10 {
	color:#ffffff;
	font-family:Poppins, sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-11 {
	color:#ffffff;
	font-family:Poppins, sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-12 {
	color:#ffffff;
	font-family:Poppins, sans-serif;
	font-size:350px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#000000;
	font-family:Poppins, sans-serif;
	font-size:660px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-14 {
	color:#000000;
	font-family:"Poppins Light", sans-serif;
	font-size:660px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-15 {
	color:#737373;
	font-family:"Poppins Thin", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-16 {
	-webkit-text-stroke-color:#ffffff;
	-webkit-text-stroke-width:5.6px;
	color:#252626;
	font-family:"ZT Nature Thin", sans-serif;
	font-size:1116.3px;
	font-style:normal;
	font-weight:100;
	text-stroke-color:#ffffff;
	text-stroke-width:5.6px;
	text-transform:lowercase;
}
span.CharOverride-17 {
	-webkit-text-stroke-color:#ffffff;
	-webkit-text-stroke-width:11.2px;
	color:#252626;
	font-family:"ZT Nature Thin", sans-serif;
	font-size:1116.3px;
	font-style:normal;
	font-weight:100;
	text-stroke-color:#ffffff;
	text-stroke-width:11.2px;
	text-transform:lowercase;
}
span.CharOverride-18 {
	color:#252626;
	font-family:"ZT Nature", sans-serif;
	font-size:1116.3px;
	font-style:normal;
	font-weight:bold;
	text-transform:lowercase;
}
span.CharOverride-19 {
	color:#252626;
	font-family:Poppins, sans-serif;
	font-size:558.2px;
	font-style:normal;
	font-weight:normal;
	text-transform:lowercase;
}
span.CharOverride-20 {
	color:#252626;
	font-family:Poppins, sans-serif;
	font-size:558.2px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-21 {
	color:#252626;
	font-family:Poppins, sans-serif;
	font-size:558.2px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-22 {
	color:#ffffff;
	font-family:Poppins, sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-23 {
	color:#ffffff;
	font-family:Poppins, sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-24 {
	-webkit-text-stroke-color:#ffffff;
	-webkit-text-stroke-width:5.6px;
	color:#202121;
	font-family:"ZT Nature Thin", sans-serif;
	font-size:1116.3px;
	font-style:normal;
	font-weight:100;
	text-stroke-color:#ffffff;
	text-stroke-width:5.6px;
	text-transform:lowercase;
}
span.CharOverride-25 {
	-webkit-text-stroke-color:#ffffff;
	-webkit-text-stroke-width:11.2px;
	color:#202121;
	font-family:"ZT Nature Thin", sans-serif;
	font-size:1116.3px;
	font-style:normal;
	font-weight:100;
	text-stroke-color:#ffffff;
	text-stroke-width:11.2px;
	text-transform:lowercase;
}
span.CharOverride-26 {
	color:#202121;
	font-family:"ZT Nature", sans-serif;
	font-size:1116.3px;
	font-style:normal;
	font-weight:bold;
	text-transform:lowercase;
}
span.CharOverride-27 {
	color:#202121;
	font-family:Poppins, sans-serif;
	font-size:558.2px;
	font-style:normal;
	font-weight:normal;
	text-transform:lowercase;
}
span.CharOverride-28 {
	color:#202121;
	font-family:Poppins, sans-serif;
	font-size:558.2px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-29 {
	color:#202121;
	font-family:Poppins, sans-serif;
	font-size:558.2px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-30 {
	color:#202121;
	font-family:"ZT Nature Thin", sans-serif;
	font-size:1116.3px;
	font-style:normal;
	font-weight:100;
	text-transform:lowercase;
}
#_idContainer000 {
	-ms-transform:translate(-0.500px,-8.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.500px,-8.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1089.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.500px,-8.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.500px,-8.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1080.00px;
}
#_idContainer001 {
	-ms-transform:translate(36.000px,7.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,7.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1013.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,7.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,7.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1008.00px;
}
#_idContainer002 {
	-ms-transform:translate(-16.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-16.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1141.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-16.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-16.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1094.00px;
}
#_idContainer003 {
	-ms-transform:translate(0.000px,883.294px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,883.294px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:883.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,883.294px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,883.294px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1080.00px;
}
#_idContainer004 {
	-ms-transform:translate(1078.779px,401.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1078.779px,401.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:678.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1078.779px,401.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(1078.779px,401.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1078.78px;
}
#_idContainer005 {
	-ms-transform:translate(260.877px,-19.950px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(260.877px,-19.950px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:161.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(260.877px,-19.950px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(260.877px,-19.950px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:562.18px;
}
#_idContainer006 {
	-ms-transform:translate(80.000px,964.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(80.000px,964.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(80.000px,964.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(80.000px,964.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:379.94px;
}
#_idContainer007 {
	-ms-transform:translate(290.308px,72.526px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(290.308px,72.526px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:86.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(290.308px,72.526px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(290.308px,72.526px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:513.17px;
}
#_idContainer008 {
	-ms-transform:translate(79.483px,928.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(79.483px,928.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:68.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(79.483px,928.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(79.483px,928.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:418.69px;
}
#_idContainer009 {
	-ms-transform:translate(868.000px,962.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(868.000px,962.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:63.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(868.000px,962.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(868.000px,962.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:150.00px;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,148.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,148.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:937.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,148.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,148.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1079.50px;
}
#_idContainer011 {
	-ms-transform:translate(61.500px,172.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(61.500px,172.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:819.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(61.500px,172.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(61.500px,172.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:972.00px;
}
#_idContainer012 {
	-ms-transform:translate(357.000px,49.085px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(357.000px,49.085px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(357.000px,49.085px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(357.000px,49.085px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:366.00px;
}
#_idContainer013, #_idContainer019, #_idContainer025, #_idContainer031, #_idContainer037, #_idContainer043, #_idContainer049, #_idContainer055, #_idContainer061, #_idContainer067, #_idContainer073, #_idContainer079, #_idContainer085, #_idContainer091, #_idContainer098, #_idContainer104 {
	-ms-transform:translate(0.000px,997.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,997.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,997.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,997.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1080.00px;
}
#_idContainer014 {
	-ms-transform:translate(0.500px,142.901px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,142.901px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:937.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,142.901px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,142.901px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1079.50px;
}
#_idContainer015 {
	-ms-transform:translate(65.541px,10.605px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.541px,10.605px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.541px,10.605px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.541px,10.605px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:502.38px;
}
#_idContainer016 {
	-ms-transform:translate(61.999px,70.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(61.999px,70.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:83.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(61.999px,70.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(61.999px,70.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.46px;
}
#_idContainer017 {
	-ms-transform:translate(688.000px,798.693px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(688.000px,798.693px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(688.000px,798.693px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(688.000px,798.693px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.46px;
}
#_idContainer018 {
	-ms-transform:translate(27.008px,196.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.008px,196.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:766.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.008px,196.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.008px,196.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:632.99px;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:938.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1080.00px;
}
#_idContainer021, #_idContainer027, #_idContainer033, #_idContainer039, #_idContainer045, #_idContainer051, #_idContainer057, #_idContainer063, #_idContainer069, #_idContainer081, #_idContainer087, #_idContainer093, #_idContainer100 {
	-ms-transform:translate(65.541px,9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.541px,9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.541px,9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.541px,9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:502.38px;
}
#_idContainer022, #_idContainer028, #_idContainer034, #_idContainer040, #_idContainer046, #_idContainer052, #_idContainer058, #_idContainer064, #_idContainer070, #_idContainer082, #_idContainer088, #_idContainer094, #_idContainer101 {
	-ms-transform:translate(65.541px,70.197px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.541px,70.197px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:83.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.541px,70.197px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.541px,70.197px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.46px;
}
#_idContainer023 {
	-ms-transform:translate(85.021px,840.592px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(85.021px,840.592px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(85.021px,840.592px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(85.021px,840.592px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.46px;
}
#_idContainer024 {
	-ms-transform:translate(85.021px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(85.021px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:909.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(85.021px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(85.021px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:640.68px;
}
#_idContainer026, #_idContainer032, #_idContainer038, #_idContainer044, #_idContainer050 {
	-ms-transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:938.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1079.00px;
}
#_idContainer029 {
	-ms-transform:translate(654.000px,696.342px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(654.000px,696.342px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(654.000px,696.342px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(654.000px,696.342px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.46px;
}
#_idContainer030 {
	-ms-transform:translate(76.000px,860.342px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(76.000px,860.342px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:546.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(76.000px,860.342px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(76.000px,860.342px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:640.68px;
}
#_idContainer035, #_idContainer041, #_idContainer089 {
	-ms-transform:translate(65.541px,834.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.541px,834.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.541px,834.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.541px,834.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.46px;
}
#_idContainer036 {
	-ms-transform:translate(124.000px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(124.000px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:622.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(124.000px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(124.000px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:640.68px;
}
#_idContainer042 {
	-ms-transform:translate(132.000px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(132.000px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:608.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.000px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(132.000px,844.684px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:640.68px;
}
#_idContainer047 {
	-ms-transform:translate(770.000px,749.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(770.000px,749.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(770.000px,749.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(770.000px,749.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:284.00px;
}
#_idContainer048 {
	-ms-transform:translate(47.999px,913.678px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(47.999px,913.678px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:699.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(47.999px,913.678px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(47.999px,913.678px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:711.16px;
}
#_idContainer053 {
	-ms-transform:translate(676.000px,786.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(676.000px,786.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(676.000px,786.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(676.000px,786.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:284.00px;
}
#_idContainer054 {
	-ms-transform:translate(51.999px,949.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(51.999px,949.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:599.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(51.999px,949.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(51.999px,949.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:752.68px;
}
#_idContainer056, #_idContainer080, #_idContainer099 {
	-ms-transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:938.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1092.00px;
}
#_idContainer059 {
	-ms-transform:translate(450.000px,805.209px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(450.000px,805.209px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(450.000px,805.209px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(450.000px,805.209px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.46px;
}
#_idContainer060 {
	-ms-transform:translate(65.541px,969.209px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.541px,969.209px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:354.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.541px,969.209px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.541px,969.209px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:772.02px;
}
#_idContainer062, #_idContainer068, #_idContainer086 {
	-ms-transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:938.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1096.00px;
}
#_idContainer065 {
	-ms-transform:translate(728.000px,808.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(728.000px,808.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(728.000px,808.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(728.000px,808.377px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:306.00px;
}
#_idContainer066 {
	-ms-transform:translate(65.541px,972.377px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.541px,972.377px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:628.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.541px,972.377px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.541px,972.377px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:767.36px;
}
#_idContainer071 {
	-ms-transform:translate(780.540px,689.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(780.540px,689.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:175.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(780.540px,689.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(780.540px,689.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:263.46px;
}
#_idContainer072 {
	-ms-transform:translate(65.541px,856.067px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.541px,856.067px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:688.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.541px,856.067px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.541px,856.067px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:648.07px;
}
#_idContainer074, #_idContainer092 {
	-ms-transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:938.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,149.394px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1090.00px;
}
#_idContainer075 {
	-ms-transform:translate(47.622px,17.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(47.622px,17.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(47.622px,17.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(47.622px,17.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:502.38px;
}
#_idContainer076 {
	-ms-transform:translate(47.622px,79.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(47.622px,79.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:83.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(47.622px,79.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(47.622px,79.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.46px;
}
#_idContainer077 {
	-ms-transform:translate(761.541px,678.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(761.541px,678.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(761.541px,678.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(761.541px,678.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:282.46px;
}
#_idContainer078 {
	-ms-transform:translate(62.680px,832.320px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.680px,832.320px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:677.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.680px,832.320px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.680px,832.320px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:618.32px;
}
#_idContainer083 {
	-ms-transform:translate(676.000px,718.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(676.000px,718.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(676.000px,718.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(676.000px,718.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:306.00px;
}
#_idContainer084 {
	-ms-transform:translate(76.000px,882.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(76.000px,882.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:566.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(76.000px,882.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(76.000px,882.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:656.00px;
}
#_idContainer090 {
	-ms-transform:translate(136.000px,827.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(136.000px,827.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:792.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(136.000px,827.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(136.000px,827.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:592.00px;
}
#_idContainer095 {
	-ms-transform:translate(119.999px,820.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(119.999px,820.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(119.999px,820.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(119.999px,820.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.46px;
}
#_idContainer096 {
	-ms-transform:translate(114.000px,834.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(114.000px,834.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:370.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(114.000px,834.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(114.000px,834.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:620.00px;
}
#_idContainer097 {
	-ms-transform:translate(563.807px,834.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(563.807px,834.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:370.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(563.807px,834.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(563.807px,834.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:620.00px;
}
#_idContainer102 {
	-ms-transform:translate(134.000px,805.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(134.000px,805.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(134.000px,805.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(134.000px,805.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.46px;
}
#_idContainer103 {
	-ms-transform:translate(134.000px,811.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(134.000px,811.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:812.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(134.000px,811.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(134.000px,811.999px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:592.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
